<div class="main">
<div class="all">
  <div class="sign-up">
    <h2>ログイン</h2>
  </div>

<div class="new-form">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :メールアドレス %>&ensp;<br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>&ensp;<br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.label :ログイン状態を保持する %>
      <%= f.check_box :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン", class:'button' %>
  </div>
<% end %>
</div>

  <div class="actions">
    <%= render "users/shared/links" %>
  </div>

</div>
</div>