<div class="main">
<div class="all">
    <div class="sign-up">
        <h2>新規投稿</h2>
    </div>

    <div class="new-form">
    <%= form_for(@tweet, :url => {controller:'tweets', action:'create'})do |f| %>

    <div class="field">
        <%= f.label :店名 %>
        <%= f.text_field :name, :size => 30 %>
    </div>

    <div class="field">
        <%= f.label :店URL %>
        <%= f.text_field :url, :size => 30 %>
    </div>

    <div class="field">
        <%= f.label :都道府県 %>
        <%= f.select :prefecture, grouped_options_for_select(@regions.map { |p| [ p.name, p.children.map { |c| [c.name, c.id]} ]}), prompt: "選択してください" %>
    </div>

    <div class="field">
        <%= f.label :人数 %>
        <%= f.select :people, {'-5人': 1, '6-10人': 2, '11-20人': 3, '21-30人': 4, '31-40人': 5, '41-50人': 6, '50人以上': 7}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
    </div>

    <div class="field">
        <%= f.label :席タイプ %>
        <%= f.select :seat, {'テーブル': 1, '座敷': 2, '掘り炬燵': 3}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
    </div>

    <div class="field">
        <%= f.label :個室 %>
        <%= f.select :personal, {'あり': 1, 'なし': 2}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
    </div>

    <div class="field">
        <%= f.label :会費 %>
        <%= f.select :price, {'-2000円': 1, '-4000円': 2, '-6000円': 3, '-8000円': 4, '-10000円': 5, '-15000円': 6, '15000円以上': 7}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
    </div>

    <div class="field">
        <%= f.label :コメント %>
        <%= f.text_field :comment, :size => 30 %>
    </div>

    <div class="field">
        <%= f.label :店舗画像 %>&ensp;
        <%= f.file_field :image %>
    </div>

    <div class="field">
    <%= f.submit "投稿する", class:'button' %>
    </div>
<% end %>
<div class="back">
    <%= link_to "マイページに戻る", user_path(current_user.id), class:'button' %>
</div>
</div>
</div>
</div>